:root {
	--picsure-primary: #328FFF;
    --picsure-secondary: #74C449;
    --picsure-alt: #328FFF;
	--picsure-error: #FF0000;
	--picsure-tertiary: #FFBC35;
    /* --picsure-other: #90a8a4;
    --picsure-lite: #90a8a4;
    --picsure-dark: #333333; */
}

.btn-primary {
	background-color: var(--picsure-primary);
	border-color: var(--picsure-primary);
}

body {
	font-family: "Varela Round", "Nunito Sans", sans-serif;
	background-color: #FFF;
}

#header-content {
	padding: 0;
}

#top-header {
	background-color: #FFF;
}

#top-header .logo-img {
	width: auto;
	height: auto;
	padding: 0;
}

/* GIC has some longer names, so we make the login box wider */
#frmAuth0Login {
	width: 450px;
}

/* BCH logo is not square */
.a0-button-ldap-connector {
	padding-left: 9px;
}

.large {
	font-size: 30px;
}

.large {
	font-size: 30px;
}

#header-underline {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--picsure-dark);
	border-top: 1px solid var(--picsure-dark);
}

#patient-count-box .panel-heading {
	text-align: center;
	margin-bottom: 8px;
}

.space-out i.fa-question-circle {
    color: var(--picsure-tertiary);
}

#patient-count-box .panel-heading h3 {
	margin: 0 auto;
}

.output-detail-text {
	padding: 8px 0;
}

#selected-genomic-filter .panel {
	background-color: none;
}

#selected-genomic-filter .panel .panel-heading {
	background-color: #fff;
}

#detail-gen-data-btn {
	margin-bottom: 8px;
}

/* result boxes are initially hidden */
.institution-results {
	width: 90%;
	background: #fff;
	border-radius: 5px;
	margin-top: 10px;
	display: none;
}

.result-list {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid var(--picsure-primary);
	border-radius: 5px;
}

.container {
    padding-right: 0;
    padding-left: 0;
    width: 90%;
    padding-top: 10;
}

.institution-arrow {
	display: block;
    margin-top: -60px;
    margin-right: 5px;
    text-align: right;
    font-size: 2em;
}

.glyphicon {
	color: gray;
}

.infotable-head {
	background: lightgray;
}

.center-cell {
	text-align: center;
}

.td {
	white-space: pre-line;
}

/********** Help Page **********/

#help-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: 80vh;
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#help-page .down {
	margin-top: auto;
}

#help-page h1 {
	font-weight: bold;
	text-align: center;
}

#help-page h4 {
	font-style: italic;
}

#help-page .help-options-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
	flex-wrap: wrap;
}

#help-page .blank-option {
	width: 200px;
	height: 200px;
}

#help-page .help-options-wrap-helper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 32px;
	width: 50%;
}

@media screen and (max-width: 1200px) {
	#help-page .help-options-wrap-helper {
		width: 100%
	}
}

/***** Icon Buttons *****/

.btn.icon-button {
	border: 1px solid black;
	color: black;
	height: 200px;
	width: 200px;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	white-space: pre-wrap;
	align-items: center;
}

.btn.icon-button:hover {
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn.icon-button img {
	width: 85px;
}

.btn.icon-button h6 {
	font-weight: bold;
	font-size: 14px;
}

.btn.icon-button p {
	font-size: 12px;
}

.soft-border {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px;
}

/********** Package Data **********/

#package-data {
	flex-direction: row;
}

#package-data section {
	display: flex;
	flex-direction: row;
	margin: 16px 0;
	max-width: 1050px;
}

#package-data #data-summary {
	border-color: var(--picsure-secondary);
}

#package-data #query-id-container {
	display: flex;
	flex-direction: row;
}

.circle-border {
	display: inline-table;
	text-align: center;
	margin: 0 16px;
	border: 1px solid var(--picsure-primary);
	border-radius: 50%;
	height: 35px;
	width: 35px;
	line-height: 33px;
	flex-shrink: 0;
}

#package-data .resource-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
    align-items: baseline;
	width: 50%;
	margin-bottom: 4px;
}

#package-data .resource-container .resource-name {
	min-width: 60px;
}
#package-data .resource-container *:not(:last-child) {
	margin-right: 8px;
}

#package-data #queryIds {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: fit-content;
	flex-wrap: wrap;
}

#package-data #prepare-btn {
	margin-right: 65px;
}

#package-data .fa-solid {
	font-size: 16px;
}

#package-data .error {
	color: var(--picsure-error);
}

#package-data .success {
	color: var(--picsure-secondary);
}

#package-data .package-button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#package-data .query-id-span {
	width: 276px;
}

#genomic-info-modal-header-text {
    text-align: center;
    padding-bottom: 1.5rem;
}

.info-container-section {
    border: 1px solid #bdbdbd;
    padding: 5px;
    border-radius: 5px;
    background: rgb(223, 238, 255);
    margin-bottom: 10px;
}

.info-container-row {
    border-bottom: 1px solid #a1a1a1;
    margin: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.info-container-table {
  padding-left: 0px;
  padding-right: 0px;
}

.institutes-header {
    border-bottom: 1px solid #e6e6e6;
    color: grey;
    margin-right: 10px;
}

.variant-explorer-main-content-container {
    color: grey;
    border-left: 1px solid #e6e6e6;
    padding-left: 10px;
}

.variant-explorer-left-gutter {
    padding-left: 0px;
    padding-right: 0px;
}

#variant-explorer-modal-title {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
}

.institutes-header h2 {
    text-align: center;
}

.institute {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 5px;
}

.institutes-container {
    margin-left: 0px;
}

.institute h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    color: grey;
}

.inactive-institute:hover {
    background: #e6e6e6;
}

.active-institute {
    background: rgb(223, 238, 255);
}


#variant-download-btn {
    padding-left: 20%;
    font-size: 18px;
}

#variant-explorer-modal-title-container {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 100%;
}

#variant-explorer-modal-title-container h4 {
    color: grey;
    font-size: 30px;
}
