/* GIC has some longer names, so we make the login box wider */
#frmAuth0Login {
	width: 400px;
}

/* BCH logo is not square */
.a0-button-ldap-connector {
	padding-left: 9px;
}

/* result boxes are initially hidden */
.institution-results {
	width: 90%;
	background: #fff;
	border-radius: 5px;
	margin-top: 10px;
	display: none;
}

.result-list {
	margin-top: 10px;
	margin-bottom: 10px;
}

#patient-count-box {
	padding: 5px 0px 10px 0px;
}

.institution-arrow {
	display: block;
    margin-top: -55px;
    margin-right: 20px;
    text-align: right;
    font-size: 2em;
}

.glyphicon {
	color: gray;
}