/* GIC has some longer names, so we make the login box wider */
#frmAuth0Login {
	width: 400px;
}

/* BCH logo is not square */
.a0-button-ldap-connector {
	padding-left: 9px;
}

#main-content {
	width: 90%;
}

/* result boxes are initially hidden */
.institution-results {
	width: 90%;
	background: #fff;
	border-radius: 5px;
	margin-top: 10px;
	display: none;
}

.result-list {
	margin-top: 10px;
	margin-bottom: 10px;
}

#patient-count-box {
	padding: 5px 0px 10px 0px;
}

.container {
    padding-right: 0;
    padding-left: 0;
    width: 90%;
    padding-top: 10;
}

.institution-arrow {
	display: block;
    margin-top: -60px;
    margin-right: 5px;
    text-align: right;
    font-size: 2em;
}

.glyphicon {
	color: gray;
}

.output-button-container {
	margin-top: 10px;
}

.infotable-head {
	background: lightgray;
}

.center-cell {
	text-align: center;
}
