/* GIC has some longer names, so we make the login box wider */
#frmAuth0Login {
	width: 400px;
}

/* BCH logo is not square */
.a0-button-ldap-connector {
	padding-left: 9px;
}


.institution-results {
	width: 90%;
	background: #fff;
	border-radius: 5px;
	
}

.result-list {
	margin-top: 10px;
	margin-bottom: 10px;
}