:root {
	--picsure-primary: #328FFF;
    /* --picsure-secondary: #848484; */
    --picsure-alt: #328FFF;
    /* --picsure-other: #90a8a4;
    --picsure-lite: #90a8a4;
    --picsure-dark: #333333; */
}

body {
	font-family: "Varela Round", "Nunito Sans", sans-serif;
}

#header-content {
	padding: 0;
}

#top-header .logo-img {
	width: auto;
	height: auto;
	padding: 0;
}

/* GIC has some longer names, so we make the login box wider */
#frmAuth0Login {
	width: 450px;
}

/* BCH logo is not square */
.a0-button-ldap-connector {
	padding-left: 9px;
}

#main-content {
	width: 90%;
}

#header-underline {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--picsure-dark);
	border-top: 1px solid var(--picsure-dark);
}

/* result boxes are initially hidden */
.institution-results {
	width: 90%;
	background: #fff;
	border-radius: 5px;
	margin-top: 10px;
	display: none;
}

.result-list {
	margin-top: 10px;
	margin-bottom: 10px;
}

#patient-count-box {
	padding: 5px 0px 10px 0px;
}

.container {
    padding-right: 0;
    padding-left: 0;
    width: 90%;
    padding-top: 10;
}

.institution-arrow {
	display: block;
    margin-top: -60px;
    margin-right: 5px;
    text-align: right;
    font-size: 2em;
}

.glyphicon {
	color: gray;
}

.output-button-container {
	margin-top: 10px;
}

.infotable-head {
	background: lightgray;
}

.center-cell {
	text-align: center;
}

.td {
	white-space: pre-line;
}

/********** Help Page **********/

#help-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: 80vh;
	margin: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#help-page .down {
	margin-top: auto;
}

#help-page h1 {
	font-weight: bold;
	text-align: center;
}

#help-page h4 {
	font-style: italic;
}

#help-page .help-options-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
	flex-wrap: wrap;
}

#help-page .blank-option {
	width: 200px;
	height: 200px;
}

#help-page .help-options-wrap-helper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 32px;
	width: 50%;
}

@media screen and (max-width: 1200px) {
	#help-page .help-options-wrap-helper {
		width: 100%
	}
}

/***** Icon Buttons *****/

.btn.icon-button {
	border: 1px solid black;
	color: black;
	height: 200px;
	width: 200px;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	white-space: pre-wrap;
	align-items: center;
}

.btn.icon-button:hover {
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn.icon-button img {
	width: 85px;
}

.btn.icon-button h6 {
	font-weight: bold;
	font-size: 14px;
}

.btn.icon-button p {
	font-size: 12px;
}
