<div id="not_authorized_message">
    <h2>Not Authorized</h2>
    <p>If this is your first attempt to access the GIC Portal, please complete this <a href="https://redcap.tch.harvard.edu/redcap_edc/surveys/?s=4LYLJKK9L7DR48AY" target="_blank">request form</a> to request access. If you are employed by Boston Children’s Hospital and your CITI training is up to date, we will review your request within 5 business days. If you require immediate assistance, please contact <a href="mailto:GIC-admins@chip.org">GIC-admins@chip.org</a>.</p>
    <p>If you are a previous user of the PrecisionLink Portal and are having trouble accessing the Portal, <a href="https://pl-gic.childrens.harvard.edu/">click here</a> to try logging in again. If you require further assistance, please contact <a href="mailto:GIC-techsupport@chip.org">GIC-techsupport@chip.org</a>.</p>
    <p>To return to the GIC website, <a href="http://www.genomicinformationcommons.org/">click here</a>.</p>
</div>
<script>sessionStorage.clear();localStorage.clear();</script>
