<header id="top-header" class="space-out">
    <img class="logo-img col-md-4" src="{{logoPath}}">
    <nav id="header-tabs" class="nav-menu" role="navigation" aria-label="Main Navigation. You are on the main navigation of Pic-sure. Please use the arrow keys to navigate through the tabs. Use Enter or space to select the tab." tabindex="0">
        {{#not_empty applications}}
        <button id="applications-dropdown-toggle" class="dropdown-toggle nav-dropdown header-btn" aria-expanded="false" tabindex="-1" title="Super Admin Console" aria-label="Applications Dropdown" aria-controls="applications-dropdown-menu-list">
            <span>Applications</span><i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <ul id="applications-dropdown-menu-list" class="nav-dropdown-menu" role="menu" tabindex="-1">
            {{#each applications}}
            <li class="dropdown"><a id="{{this.uuid}}" href="{{this.url}}">{{this.name}}</a></li>
            {{/each}}        
        </ul>
        {{/not_empty}}

        {{#contains privileges "SUPER_ADMIN"}}
        <button id="super-admin-dropdown-toggle" class="dropdown-toggle nav-dropdown header-btn long-name" aria-expanded="false" tabindex="-1" title="Super Admin Console" aria-label="Super Admin Console Dropdown" aria-controls="super-admin-console-menu-list">
            <span>Super Admin Console</span><i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <ul id="super-admin-console-menu-list" class="nav-dropdown-menu" role="menu" tabindex="-1">
            <li class="dropdown"><a id="appMgmt-super-admin" class="header-navigation" data-href="/psamaui/applicationManagement" href="#">Applications</a></li>
            <li class="dropdown"><a id="connMgmt-super-admin" class="header-navigation" data-href="/psamaui/connectionManagement">Connections</a></li>
            <li class="dropdown"><a id="privMgmt-super-admin" class="header-navigation" data-href="/psamaui/privilegeManagement">Privileges</a></li>
            <li class="dropdown"><a id="roleMgmt-super-admin" class="header-navigation" data-href="/psamaui/roleManagement">Roles</a></li>
        </ul>
        {{/contains}}
        
        {{#contains privileges 'ADMIN'}}
        {{!-- <a id="data-info-btn" class="col btn btn-default header-btn authenticated-visible" style="display:none" href="#">Data Info</a> --}}
        <a class="header-btn header-navigation" id="admin-btn" data-href="/psamaui/userManagement" href="#" tabindex="-1">Users</a>
        {{/contains}}
        
        {{#if authenticated}}
        <a class="header-btn header-navigation" data-href="/picsureui/queryBuilder" href="#" id="query-builder-btn" tabindex="-1">Query Builder</a>
        {{/if}}


        {{#if authenticated}}
        <a class="header-btn authenticated-visible" id="user-profile-btn" href="/picsureui/user" tabindex="-1" title="User Profile" aria-label="User Profile">User Profile</a>
        <a class="header-btn header-navigation" data-intro="#help-header-button" data-sequence="14" data-href="/picsureui/help" href="#" id="help-page-btn" tabindex="-1">Help</a>
        <a href="#" id="logout-btn" class="header-btn authenticated-visible" tabindex="-1" title="Log Out" aria-label="Log Out">Log Out</a>
        {{/if}}

    </nav>
</header>
<hr id="header-underline" />