<p>
Welcome to the Genomic Information Commons (GIC) Portal.  You have been granted access to the GIC Portal which permits you to run queries on aggregate clinical and variant data across multiple GIC institutes.  
</p>
<p>
Visit the GIC Portal at <a href="https://pl-gic.childrens.harvard.edu">https://pl-gic.childrens.harvard.edu</a>.
</p>
<p>
You will need to be on your institute’s VPN to access the GIC Portal.  After logging in to the GIC Portal, visit the Help tab to view the GIC user guide and video tutorials.
</p>

<p>
Please contact us at <a href="mailto:gic-techsupport@chip.org">gic-techsupport@chip.org</a> for questions.  Please do not reply to this email, as it will not accept replies.
</p>