<style>
    #output-modal-table th {
        background-color: #e4e4e4;
    }
</style>
<div id="output-info-modal-container">
    <table id="output-modal-table"  class='display stripe'></table>
</div>