<style>
    #output-modal-table th {
        background-color: #e4e4e4;
    }
</style>
<div id="output-info-modal-container">
    <div id="genomic-info-modal-header-text" style="display:none;">
        Shown below is the patient genomic data count for each GIC site. Results are subject to query filters.
        Explore available genomic data types in GIC
        <a href="https://pic-sure.gitbook.io/genomic-information-commons/data-available-in-gic/genomic-data"
           target="_blank">here</a>.
    </div>
    <div id="biosample-info-modal-header-text" style="display:none;">
        Shown below is the biosample data count for each GIC site. Results are subject to query filters.
        Explore available genomic data types in GIC
        <a href="https://pic-sure.gitbook.io/genomic-information-commons/data-available-in-gic/biosample-data"
           target="_blank">here</a>.
    </div>
    <table id="output-modal-table"  class='display stripe'></table>
    <div class="container">
        <div class="col-md-6" style="text-align: center;">0 = Site returned zero results</div>
        <div class="col-md-6" style="text-align: center;">"-" = No data for that site</div>
    </div>
</div>