
<div class="modal-body">
	<h2 style="margin-top: 0px; margin-bottom: 0px;">Welcome to the Genomic Information Commons PIC-SURE UI!</h2>
    <div class="info-container-section" style="margin-bottom: 10px;">
        <p>
            The Query Builder tab allows you to search and query clinical, genomic and biosample data from all GIC
            institutions to create your cohort. Results are shown at the aggregate level.
        </p>
        <p>
            <b>Below are some helpful tips to get you started:</b>
        </p>
        <p>
            <b>1. Searching: </b>Input a keyword or specific phenotypic variable in the search bar and press enter to
            explore the GIC network patient database. You can also look up specific diagnoses using ICD-10 codes. If you
            can't find results for a specific ICD10 code, it might be due to its introduction after v2 of the ACT
            ontology. GIC is currently using v2.
        </p>
        <p>
            <b>2. Search Categories: </b>Results are categorized by search result type, including biospecimens,
            COVID-19, demographics, diagnosis, genomic variants, laboratory results, medications, and procedures.
        </p>
        <p>
            <b>3. Concept Path: </b>Click the blue ellipsis box to see the concept path for a specific search result.
            This path shows the hierarchical arrangement of search results, organized according to ACT ontology
            categories. You can also expand your filter to encompass variables and values higher in the data hierarchy.
        </p>
        <p>
            <b>4. User Guide: </b>More information is available in the
            <a href="https://pic-sure.gitbook.io/genomic-information-commons/getting-started/portal-layout" target="_blank">
                GIC user guide.
            </a>
        </p>
    </div>
    <div>
        <b><u>Genomic Data</u></b>
        <p>
            Explore genomic data using genomic variant filters. Below is a full listing and explanation of the variant
            INFO filters which use the Variant Effect Predictor (VEP) model.
        </p>
    </div>
	<div class="info-container-section info-container-table">
        <div class="row info-container-row">
            <span class="col-md-4"><b>Variant Info Filter</b></span>
            <span class="col-md-8"><b>Description</b></span>
        </div>
		{{#each infoColumns}}
		<div class="row info-container-row"><span class="col-md-4">{{key}}</span><span class="col-md-8">{{description}}</span></div>
		{{/each}}
	</div>
</div>

