<div id="institution-data-info">
    <div class="bordered-block">
    
				<div class="form-label">Clinical Population</div>
				<div class="form-input"><input name="clinicalPop" type="text" /></div>
				
				<div class="form-label">Genomic Population</div>
				<div class="form-input"><input name="genomicPop" type="text" /></div>
					
				<div class="form-label">Genomic Data Diagnosis</div>
				<div class="form-input"><input name="genomicDiagnosis" type="text" /></div>
				
				<div class="form-label">Genomic Data Types</div>
				<div class="form-input"><input name="genomicTypes" type="text" /></div>
				
				<div class="form-label">Biobank Population</div>
				<div class="form-input"><input name="biobankPop" type="text" /></div>
				
				<div class="form-label">First Data Point</div>
				<div class="form-input"><input name="firstDataDate" type="text" /></div>
				
				<div class="form-label">Clinical Data Extract Date</div>
				<div class="form-input"><input name="clinicalDate" type="text" /></div>
				
				<div class="form-label">Genomic Data extract Date</div>
				<div class="form-input"><input name="genomicDate" type="text" /></div>
				
				<div class="form-label">Expected Availability</div>
				<div class="form-input"><input name="availability" type="text" /></div>
			
        		<div class="submit-div"><button id="data-info-submit-btn" /></div>
    </div>

</div>