<div id="package-data">
    <div>
        <section id="data-summary">
            <div class="data-summary-border">
                <span>Dataset Summary:</span>
                <span id="total-patients">N/A# Patients</span>
                <span id="total-variables">N/A# Variables</span>
                <span id="estimated-data-points">N/A# Estimated Data Points</span>
            </div>
        </section>
        <section>
            <span class="circle-border">1</span>
            <div class="soft-border">
                <div><strong>Select additional</strong> phenotypic <strong>variables</strong> you would like to be 
                included in your filtered cohort dataset.</div>
                <div id="concept-tree"></div>
            </div>
        </section>
        <section id="finalize-button-container" class="package-button-container">
            <button id="finalize-btn" class="btn btn-outline primary hidden tabable">Finalize Dataset</button>
        </section>
        <section id="query-id-container">
            <span class="circle-border">2</span>
            <div class="soft-border">
                <p><b>Save</b> the <b>information</b> included in your cohort by clicking <b>&quot;Save Dataset ID&quot;</b>.</p>
                <div id="queryIds"></div>
                <div id="queryIdSpinner"></div>
                <div id="dataset-saved" class="hidden">
                    <p class="center"><b>Dataset IDs Saved!</b></p>
                    <p><b>Copy</b> the associated <b>dataset IDs</b> &amp; <b>variables</b> included in the dataset 
                    to your clipboard. This information will be required fields in the Sample &amp; Data Request 
                    form (Step 3).</p>
                </div>
            </div>
        </section>
        <section id="package-buttons-container" class="package-button-container">
            <button id="save-dataset-btn" class="btn btn-outline primary hidden tabable">Save Dataset ID</button>
            <button id="copy-query-ids-btn" class="btn btn-outline primary hidden tabable">Copy Dataset IDs</button>
            <button id="copy-pheno-ids-btn" class="btn btn-outline primary hidden tabable">Copy Dataset Variables</button>
        </section>
        <section id="request-buttons-container" class="results-div">
            <span class="circle-border">3</span>
            <div class="soft-border center">
                <p>By clicking “Request Access” you will be taken to the externally linked  Request Data and Biosamples 
                    RedCap form where you can submit your request for data and biosamples.</p>
                <a class="btn btn-primary tabable" id="request-btn">
                    {{#if queryButtonLabel}}{{queryButtonLabel}}{{else}}Request Access{{/if}}
                </a>
            </div>
        </section>
    </div>
</div>
